<!DOCTYPE html>
<html ng-app="myToDoApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">
    <title>My to-dos app</title>
    
    <link href="css/src/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-contenteditable.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/lib/ngStorage.js"></script>
    
</head>

<body ng-controller="myToDoAppController">
    <script src="js/src/app.js"></script>
    
    <div class="gwd-div-1vyq" id="title"> My to-dos </div>
    <img src="icon.png" class="titleIcon" ng-click="toggleLeftMenu()">
    <div id="sliding-menu" class="sliding-menu" ng-if="showLeftMenu">
        <div id="top-spacer" class="menu-item" style="margin-bottom: 30px;">
            <!-- leave empty -->
        </div>
        <div id="reset-list" class="menu-item" ng-click="resetList()">
            <i class="material-icons md-light">autorenew</i>
        </div>
        <div id="delete-list" class="menu-item" ng-click="deleteList()">
            <i class="material-icons md-light">delete</i>
        </div>
        <div id="delete-list" class="menu-item" ng-click="orderList()">
            <i class="material-icons md-light">format_list_bulleted</i>
        </div>

        <a id="logo" href="https://cristianbara.github.io" target="_blank" onClick="openURL('https://cristianbara.github.io')" class="logo-link">
        </a>

    </div>
    <div class="gwd-div-1n6y" id="body">
        <div ng-repeat="item in model" class="gwd-div-1g9m animation-list" ng-class="{done: item.done == true}" ng-switch="item.done">
            <div class="gwd-div-text" style="" contenteditable="true" ng-model="item.text" strip-br="true" strip-tags="true" select-non-editable="true">
                <!-- {{item.text}} -->Something
            </div>
            <div class="life-type" ng-if="item.type == 'life'"></div>
            <div class="work-type" ng-if="item.type == 'work'"></div>
            <div class="gwd-div-pjjz check" ng-switch-when="false" ng-click="markAsDone($index)"></div>
            <div class="gwd-div-pjjz cross done-btn" ng-switch-when="true" ng-click="removeToDo($index)"></div>
            <div class="gwd-div-pjjz-r" ng-switch-when="true" ng-click="markUndone($index)">
                    <i class="material-icons">replay</i>
                </div>
        </div>
    </div>
    <div class="gwd-div-1n6h" id="menu-body" ng-if="showMenu">
        <div class="gwd-div-cb5l-life" id="buttonLife" ng-click="addToDoLife()">
            + &nbsp; <b style="color: black; font-weight: 400; font-size: 26px"> life to-do </b>
        </div>
        <div class="gwd-div-cb5l-work" id="buttonWork" ng-click="addToDoWork()">
            + &nbsp; <b style="color: black; font-weight: 400; font-size: 26px"> work to-do </b>
        </div>
    </div>
    <div class="gwd-div-cb5l noselect" ng-class="{closeMenu: showMenu == true}" id="button" ng-click="btnMenu()">+</div>
    <!-- </div> -->
</body>

</html>