@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /*font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  /*line-height: 1;*/
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

html,
    body {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow: hidden;
        background: rgb(238, 238, 238);
    }
    
    body {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-perspective: 1400px;
        -moz-perspective: 1400px;
        perspective: 1400px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        background-color: transparent;
    }
    
    .gwd-div-bkij {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: none;
        background-color: rgb(117, 164, 173);
    }
    
    .gwd-div-1stp {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 360px;
        height: 640px;
        margin-left: -180px;
        margin-top: -320px;
        box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 20px, rgba(0, 0, 0, 0.227451) 0px 6px 6px;
        border-radius: 6px;
        overflow: hidden;
        line-height: 300%;
        background-image: none;
        background-color: rgb(248, 248, 248);
    }
    
    .gwd-div-1vyq {
        position: fixed;
        z-index: 2;
        left: 0px;
        top: 0px;
        width: 100%;
        text-align: center;
        font-size: 28px;
        font-family: sans-serif;
        font-weight: 500;
        line-height: 1.6;
        height: 50px;
        min-height: 40px;
        color: white;
        /* background-image: url("assets/app-title.jpg"); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-color: #607d8b;
        box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    }
    
    .gwd-div-1n6y {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 90px;
        height: 89%;        
        overflow-y: auto;
        overflow-x: hidden;
        background: rgb(238, 238, 238);
        z-index: 0;
    }
    
    .gwd-div-cb5l {
        position: absolute;
        z-index: 3;
        border-radius: 50%;
        right: 20px;
        top: 20px;
        text-align: center;
        font-family: Verdana;
        font-size: 50px;
        line-height: 1;
        width: 50px;
        height: 50px;
        color: white;
        /* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px; */
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-image: none;
        background-color: #ff5252;
    }
    
    .animation-list:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 14px;
        left: 5px;
        width: 50%;
        top: 60%;
        max-width: 80px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-5deg);
    }
    
    .animation-list {
        position: relative;
        float: left;
        margin-left: 5%;
        margin-left: 5%;
        margin-bottom: 20px;
        width: 90%;
        min-height: 40px;
        text-align: center;
        font-family: Verdana;
        font-size: 20px;
        background: white;
        border: 1px solid #E4E4E4;
    }
    
    .gwd-div-pjjz {
        position: absolute;
        color: green;
        height: 100%;
        top: 50%;
        margin-top: -20px;
        left: 1%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
.gwd-div-pjjz-r {
    position: absolute;
    border-left: 2px dashed #8d99a2;
    text-align: right;
    padding-right: 1px;
    line-height: 3;
    color: #67afa9;
    height: 100%;
    top: 50%;
    margin-top: -20px;
    right: 1%;
    width: 30px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
}

    .done {
        text-decoration: line-through;
    }
    
    .done-btn {
        color: red;
    }
    
    .gwd-div-text {
        left: 0px;
        top: 0;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        /* line-height: 50px; */
        /* width: 100%; */
        min-height: 40px;
    }
    
    .cross {
        background-image: url(assets/item-cross.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
    }
    
    .check {
        background-image: url(assets/item-check.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center center;
    }
    
    .life-type {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 6px;
        right: 6px;
        border-radius: 50%;
        background: #4caf50;
    }
    
    .work-type {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 6px;
        right: 6px;
        border-radius: 50%;
        background: blue;
    }
    
    .gwd-div-1n6h {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 50px;
        height: 89%;
        padding-top: 35px;
        overflow-y: auto;
        overflow-x: hidden;
        background: rgba(255, 255, 255, 0.9);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    
    .gwd-div-cb5l-life {
        position: absolute;
        z-index: 3;
        border-radius: 50%;
        right: 20px;
        top: 50px;
        text-align: right;
        font-family: Verdana;
        font-size: 50px;
        line-height: 1;
        width: 50px;
        height: 50px;
        color: white;
        /* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px; */
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-image: none;
        background-color: #4caf50;
        white-space: nowrap;
        direction: rtl;
        text-indent: 10px;
    }
    
    .gwd-div-cb5l-work {
        position: absolute;
        z-index: 3;
        border-radius: 50%;
        right: 20px;
        top: 130px;
        text-align: right;
        font-family: Verdana;
        font-size: 50px;
        line-height: 1;
        width: 50px;
        height: 50px;
        color: white;
        /* box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px; */
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        background-image: none;
        background-color: blue;
        white-space: nowrap;
        direction: rtl;
        text-indent: 10px;
    }
    
    .closeMenu {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

.titleIcon {
    position: absolute;
    top:0px;
    left:0px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 3px;
    height: 45px;
    z-index: 5;
    -webkit-box-shadow: 16px -2px 45px -9px rgba(0,0,0,0.5);
-moz-box-shadow: 16px -2px 45px -9px rgba(0,0,0,0.5);
box-shadow: 16px -2px 45px -9px rgba(0,0,0,0.5);
}
    
    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
.sliding-menu {
    position:absolute;
    top:0px;
    left:0px;
    width: 60px;
    height: 100%;
    background: #2C4B5A;
    z-index: 4;
    display: block;
    
}

.menu-item {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 10px;
    float:left;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
}

.logo-link {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 50px;
    height: 60px;
    background-image: url(assets/by-CB-logo-square-bluegray.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Animate the sliding menu*/
.sliding-menu.ng-enter, .sliding-menu.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s; /* Chrome */
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.sliding-menu.ng-enter,
.sliding-menu.ng-leave.ng-leave-active {
  opacity:0;
}

.sliding-menu.ng-leave,
.sliding-menu.ng-enter.ng-enter-active {
  opacity:1;
}



